body {
  background-image: url(/images/background.jpg);
  background-color: black;
  background-repeat: no-repeat;
  font-family: "Poppins", sans-serif;
}
form {
  border-radius: 10px;
  background-color: black;
  margin-left: 180px;
  margin-right: 180px;
  max-width: 1620px;
  min-width: 400px;
  height: 50px;
}
.heading {
  color: aliceblue;
  flex: 100%;
  margin: 0;
  top: 1.5%;
  left: 20%;
  margin-left: 200px;
  position: absolute;
}
.anchor {
  color: aliceblue;
  text-decoration: none;
  margin: 0;
  padding-left: 700px;
  position: absolute;
}
